@charset "utf-8";

@import "fonts";

@import "~css.gg/icons/css/chevron-down";

// Icons von https://css.gg/app können eingebunden werden mit
// @import "~css.gg/icons/css/ICON_NAME";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
}

body {
  background: #111;
  color: #fff;
}

main,
.slide {
  width: 100%;
}

.slide {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  // Nur zur besseren Verständlichkeit, kann weg:
  border-bottom: 1px dashed #444;
}

.tooltip {
  position: absolute;
  pointer-events: none;
}

@import "slides/intro";
@import "slides/slide1";
@import "slides/slide2";
@import "slides/slide3";
// Weitere Slides ...